* {
	box-sizing: border-box;
}

html, body {margin: 0;text-align: center
}

header, footer {
	color:white; background-color:purple;min-height: 200px; max-width:660px; margin:20px auto; border-style:solid; border-width:3px; 

}

.centered {

}

header .subtitle {font-family: 'Oswald', sans-serif;text-indent: 100px;

}

h1 {text-transform: uppercase; font-family: 'Oswald', sans-serif;text-indent: 100px;

}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;
}

main {
	font-family: 'Oswald', sans-serif, max-width:0px margin:auto; border-style:solid; border-width:3px; border-color: purple 

}

section {text-align: center

}

h2 {color:purple;

}

h3 {color:purple;

}

p {

}

.details {

}

.object {

}

.object:after {
	content: " | ";
}

footer h1 {font-family: 'Oswald', sans-serif;text-indent: 200px;margin: 0;margin: auto;
}